/*Color Variables*/

/*#EFFFFF #00171F #003459 #007EA7 #95E1FF*/
:root {
	--primaryHeader-color: #EFFFFF;
	--primaryHeader2-color: rgba(247,247,247, 0.75);
	--primaryMain-color: #00171F;
	--Secondary-color: #fff;
	--DarkBlue-color: #003459;
	--DarkBlue2-color: #007EA7;
	--LightBlue-color: #95E1FF;
	--LightBlue2-color: #198AE7;

}

.dark-theme{
	--primaryHeader-color: rgba(20, 33, 61, 1);
	--primaryHeader2-color: rgba(20, 33, 61, 0.75);
	--primaryMain-color: #fff;
	--Secondary-color: #00171F;
	

}