li:nth-child(1) > a{
	color: royalblue;
}

/*Main tag Content*/
.MainClass-div {
	height: 100vh;
	width: 100%;
	background: linear-gradient(to left, rgba(12,0,255, 0.3), rgba(12,0,255, 0.3)), url("../images/Main-Page-First-img.jpg");
	
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.MainClass-SectionOnTop {
	position: absolute;
	top:60%;
	left: 0;
	transform: translate(30%, -60%);
	background: var(--Secondary-color);
	transition: all 0.2s ease-in-out;
	width: 500px;
	height: 300px;
	border-radius: 10px;
	text-align: center;
}

.MainClass-SectionOnTop h1{
	margin-top: 50px;
	color: var(--primaryMain-color);
	transition: all 0.2s ease-in-out;
}
.MainClass-SectionOnTop p{
	margin-top: 23px;
	padding: 0 5px;
	color: var(--primaryMain-color);
	transition: all 0.2s ease-in-out;
}
.MainClass-SectionOnTop a i {
	position: relative;
	color: var(--DarkBlue2-color);
	font-size: 60px;
	margin-top: 60px;
	transition: all 0.5s;
}	
.MainClass-SectionOnTop a i:hover {
	color: var(--DarkBlue-color);
}

.MainClass-section {
	width: 700px;
	text-align: center;
	margin: auto;
	padding-top: 100px;
}

.MainClass-section > p,
.MainClass-section > h2 {
	color: var(--primaryMain-color);
	transition: all 0.2s ease-in-out;
}

.MainClass-section > p {
	margin-bottom: 40px;
}
.FlexContainer{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.ContentDiv {
	flex-basis: 31%;
	border-radius: 10px;
	margin-bottom: 5%;
	background: var(--LightBlue-color);
	text-align: left;
	padding: 25px;
	display: flex;
	transition: 0.5s;
}
.ContentDiv:hover {
	background: #b8e6ff;
}
.ContentDiv img {
	box-shadow: 0 0 10px #55e6ff;
	float: left;
 	height: 150px;	
 	margin-right: 10px;
}

.ContentDiv .data {
	margin: 5px;
	padding: 1px;
	color: rgba(0, 0, 0, 0.6);
}

.btn-SaibaMais {
	display: inline-block;
	text-decoration: none;
	color: #000;
	border: 1px solid #000;
	padding: 5px;
	background: var(--DarkBlue-color);
	color: #fff;
	position: sticky;
	cursor: pointer;
	right: 0;
	transition: 0.5s;
}
.btn-SaibaMais:hover {
	background: var(--DarkBlue2-color);
	color: white;
}

.hero-btn {
	display: inline-block;
	text-decoration: none;
	color: var(--primaryMain-color);
	border: 1px solid var(--primaryMain-color);
	padding: 12px 34px;
	background: transparent;
	position: relative;
	cursor: pointer;
	transition: 0.5s;
}
.hero-btn:hover {
	background: var(--LightBlue2-color);
	color: white;
}

@media (max-width: 700px) {

	.MainClass-SectionOnTop {
		top:60%;
		left: 50%;
		transform: translate(-50%, -60%);
		width: 300px;
		height: 300px;
	}
	.MainClass-SectionOnTop a i {
		margin-top: 15px;
		transition: 0s;
	}

	.MainClass-section {
		width: 75%;
	}

	.FlexContainer {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.ContentDiv {
		flex-basis: 10%;
		border-radius: 10px;		
		text-align: center;
		justify-content: center;
		padding: 10px;
		display: flex;
		flex-direction: column;
	}
	.ContentDiv-img{	
		display: flex;
		text-align: center;
		justify-content: center;
		height: 150px;
	 	margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.btn-SaibaMais {
		margin-bottom: 15px;

	}
}