li:nth-child(3) > a{
	color: royalblue;
}

/*Main content styling*/
.MainDiv {
	height: 100vh;
	width: 100%;
	background: linear-gradient(to left, rgba(4, 0, 133, 0.6), rgba(4, 0, 133, 0.6)), url("../images/MundoEtesc-MainImg.png");
	background-size: cover;
}

.mainTextDiv {
	position: absolute;
	text-align: center;
	color: white;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -20%);
}

.mainTextDiv h1 {
	font-size: 46px;
}
.mainTextDiv p {
	margin-top: 20px;
	font-size: 23px;
}

.AboutUs-sectionDiv {
	/*height: 200vh;*/
	margin-top: 75px;
	width: 100%;
	text-align: center;
    color: black;
}

.AboutUs-ContentDiv h2 {
	font-size: 46px;
}
.AboutUs-ContentDiv p {
	font-size: 23px;
}

.row {
	margin: 5%;
	display: flex;

	justify-content: space-between;
}

.about-col {
	flex-basis: 31%;
	background: #a2d2ff;
	border-radius: 10px;
	padding: 20px 12px;
	margin-bottom: 20px;
	box-sizing: border-box;
	transition: 0.5s;
}
.about-col h2 {
	font-size: 30px;
}
.about-col:hover {
	box-shadow: 0 0 20px 0;
}

.SpanFlexText {
	font-size: 20px;
	font-weight: 600;
}
.divTagAlunosClass {
	text-align: left;
}
.divTagAlunosClass h2 {
	text-align: center;
}

@media (max-width: 700px) {
	.mainTextDiv h1 {
		font-size: 40px;
	}
	.mainTextDiv p {
		margin-top: 20px;
		font-size: 17px;
	}
	
	.AboutUs-ContentDiv h2 {
		font-size: 40px;
	}
	.AboutUs-ContentDiv p {
		font-size: 17px;
	}

	.row{
		flex-direction: column;
	}
	
	.divTagAlunosClass {
		text-align: center;
	}

}